*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #2664aa;
    line-height: 1.6;
    background-color: #000000;
    

}

header{
    background-color: #000000;;
    color: #fff;
    padding: 2rem 0;
    text-align: right;
    padding: 20px;

    
   
}
nav ul{
    list-style: none;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
h1 {
    font-size: 2rem;
}
#home {
    padding: 50px 20px;
    text-align: center;
}
.intro h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.intro p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.socials a {
    margin-right: 10px;
    text-decoration: none;
    color: #4b79b4;
    border: 1px solid #718a94;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.socials a:hover {
    background-color: #0c4591;
    color: #fff;
}

#projects {
    padding: 50px 20px;
    background-color: #000000;
}
.project-card h3 {
    font-size: 1.5rem;
}
.project-card p {
    margin-bottom: 10px;
}

.project-card a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    border: 1px solid #718a94;
    background-color: #000000;
    color: #4b79b4;
    text-decoration: none;
    border-radius: 5px;
}
.project-card a:hover {
    background-color: #0c4591;
    color: #fff;
}
#contact {
    padding: 50px 20px;
    background-color: #000000;
    text-align: center;
}
#contact form input, #contact form textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
#contact form button {
    padding: 10px 20px;
    background-color: #000000;
    color: #4b79b4;
    border: 1px solid #333;
    cursor: pointer;
}

#contact form button:hover {
    background-color:#0c4591;
    color: #fff;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000000;
    color: #ffffff;
}
.profile-photo {
   
    margin: 60px ;
    
    width: 250px;
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, filter 0,3s ease-in-out;
    cursor: pointer;
}
.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.profile-photo:hover{
    transform: scale(1.2);
    filter: brightness(1.2);
}

.profile-photo img:hover{
    transform: scale(1.2);

}

.profile-photo:active {
    transform: rotate(360deg);
}

@media (max-width: 768px) {
    .profile-photo {
        width: 120px;
        height: 120px;
    }
}
