*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header{
    background-color: #102447;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
nav ul{
    list-style: none;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
h1 {
    font-size: 2rem;
}
#home {
    padding: 50px 20px;
    text-align: center;
}
.intro h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.intro p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.socials a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.socials a:hover {
    background-color: #333;
    color: #fff;
}

#projects {
    padding: 50px 20px;
    background-color: #fff;
}
.project-card h3 {
    font-size: 1.5rem;
}
.project-card p {
    margin-bottom: 10px;
}

.project-card a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.project-card a:hover {
    background-color: #555;
}
#contact {
    padding: 50px 20px;
    background-color: #e4e4e4;
    text-align: center;
}
#contact form input, #contact form textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
#contact form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#contact form button:hover {
    background-color: #555;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
.profile-photo {
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, filter 0,3s ease-in-out;
    cursor: pointer;
}
.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.profile-photo:hover{
    transform: scale(1.1);
    filter: brightness(1.2);
}

.profile-photo img:hover{
    transform: scale(1.2);

}

.profile-photo:active {
    transform: rotate(360deg);
}

@media (max-width: 768px) {
    .profile-photo {
        width: 120px;
        height: 120px;
    }
}
